body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    padding: 21px 16px;
    text-decoration: none;
    color: white;
}

.right {
    float: right;
}

li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #04AA6D;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
}

.content {
    text-align: center;
    margin-bottom: 20px; /* Add margin between content and images */
}

.image-container {
    display: flex;
    justify-content: center; /* Center images horizontally */
}

img {
    width: 350px;
    height: 250px;
    margin: 0 10px; /* Add margin between images */
}

.login {
    background-color: lightgray;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #1877f2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #1364a1;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
